<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/static/click.js"></script>
</head>

<body>
  <div class="buttonRow">
    <div style="position:relative; left: 100px" class="controlButton up"> <span class="controlText"><i class="fa fa-arrow-up"></i></span></div>
  </div>
  <div class="buttonRow">
    <div class="controlButton left"><span class="controlText"><i class="fa fa-arrow-left"></i></span></div>
    <div class="controlButton stop"><span class="controlText"><i class="fa fa-stop-circle"></i></span></div>
    <div class="controlButton right"><span class="controlText"><i class="fa fa-arrow-right"></i></span></div>
  </div>
  <div class="buttonRow">
    <div style="position:relative; left: 100px" class="controlButton down"><span class="controlText"> <i class="fa fa-arrow-down"></i></span></div>
  </div>
  <div class="buttonRow">
    <div class="controlButton snap"><span class="controlText"><i class="fa fa-camera"></i></span></div>
  </div>
</body>
</html>
